.main {
  background-image: url("src/assets/site/mapblue.jpg");
  text-align: center;
}

.leftPanel {
  width: 80%;
  height: 100%;
  max-width: 80%;
  max-height: 100%;
  align-items: left;
  display: inline-block;

}

.itemStyle {
  width: calc(100%/8);
  max-width: calc(100%/8);
  float: left;
  text-align: center;
}

.rightPanel {
  width: 20%;
  height: 100%;
  min-width: 20%;
  min-height: 100%;
  max-width: 20%;
  max-height: 100%;
  background-color: grey;
  display: inline-block;
  text-align: top;
}

.container {
  position: relative;
  width: 50%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
